// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 10px;
  min-height: 70px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 30px;
  font-size: 22px;
  min-width: 310px;
  padding-top: 10px;
  padding-bottom: 10px;
  &.w-100 {
    width: 100%;
  }
  @media(max-width: 991px){
    font-size: 20px;
  }
  @media(max-width: 575px){
    min-width: 300px;
  }

  &--lg {
    min-height: 65px;

    @media(max-width: 991px) {
      min-height: 50px;
    }
  }

  &--white {
    background-color: var(--light);

    &:hover {
      background-color: var(--main-color);
      color: var(--light);
      svg {
        stroke: var(--light);
      }
    }
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
  }

  &--transparent {
    border: 2px solid #EBE2DB;
    color: #EBE2DB;

    svg {
      width: 16px;
      height: 15px;
      stroke: var(--light);
      stroke-width: 2px;
    }

    &:hover {
      background-color: var(--light);
      color: var(--main-color);

      svg {
        stroke: var(--main-color);
      }
    }
  }

  &--black-transparent {
    border-radius: 30px;
    border: 2px solid #39302C;

    &:hover {
      background-color: #39302C;
      color: var(--light);

      svg {
        stroke: var(--light);
      }
    }
  }
}

.introBtn {
  min-width: 310px;
}

.introBtnPause {
  background-color: #EBE2DB;
  width: 45px;
  height: 45px;
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: url('@img/icons/pause.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &.play {
    background-image: url('@img/icons/play.svg');
    background-size: 20px;
    background-position: left 15px center;
  }
}

.servicesBtn {
  margin-left: auto;
  margin-top: 30px;
  @media(max-width: 1199px){
    margin-top: 60px;
  }
  @media(max-width: 575px){
    margin-left: auto;
    margin-right: auto;
  }
}
.formBtn{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}
.productsBtnLg {
  @media(max-width: 991px){
    display: none;
  }
}
.productsBtnSm{
  display: none;
  @media(max-width: 991px){
    display: flex;
    margin-top: 60px;
  }
  @media(max-width: 575px){
    margin-left: auto;
    margin-right: auto;
  }
}