/* Hamburger Menu */
.hamburger {
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  margin-right: 0;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  padding: 14px 13px;
  border-radius: 50%;
  // transition: background 0.2s linear;  
  display: none;

  @media (max-width: 991px) {
    display: flex;
  }
}

.hamburger div {
  align-self: flex-start;
  height: 1px;
  width: 100%;
  background: #222;
  border-radius: 10px;
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}