// Specifications
* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: normal;

  @media (max-width: 1199px) {
    font-size: 16px;
    line-height: normal;
  }
}

html {
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden
}

body.modal-open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sect {
  &.pb-0 {
    padding-bottom: 0;
  }

  &.pt-0 {
    padding-top: 0;
  }
  &.about-sm-bg-white {
    @media(max-width: 575px){
      background-color: #fff;
    }
  }
}

.inputW {
  margin-bottom: 30px;
}

.formInput {
  height: 60px;
  border-radius: 0;
  border-bottom: 1px solid #39302C;
  background-color: transparent;
  width: 100%;
  padding-left: 0;
  font-size: 18px;

  &::placeholder {
    color: rgba(57, 48, 44, 0.70);
    font-size: 18px;
  }
}

.formSelect {
  height: 60px;
  border-bottom: 1px solid #39302C;
  width: 100%;
  color: rgba(57, 48, 44, 0.70);
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('@img/icons/select-arrow.svg') no-repeat right 25px center / 12px;
  cursor: pointer;
}

.agreement {
  text-align: center;
  max-width: 402px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;

  @media(max-width: 991px) {
    font-size: 12px;
    line-height: normal;
  }

  a {
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.sectHead {
  margin-bottom: 60px;

  @media (max-width: 991px) {
    margin-bottom: 50px;
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-color: #EBE2DB;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  // margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 12px;
  }
}


.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }

  .container-1150 {
    max-width: 1140px;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1620px;
  }

  .container-1150 {
    max-width: 1140px;
  }
}

.container-fluid {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-second);
  color: #39302C;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;

  &.text-no-uppercase {
    text-transform: unset;
  }
}

h1,
.h1 {
  font-size: 36px;

  @media(max-width: 991px) {
    font-size: 24px;
  }
}

h2,
.h2 {
  font-size: 40px;
  line-height: normal;

  @media(max-width: 1199px) {
    font-size: 36px;
  }

  @media(max-width: 400px) {
    font-size: 32px;
  }

  &.title--light {
    color: var(--light);
  }

  &.title--white {
    color: #fff;
  }
}

h3,
.h3 {
  font-size: 24px;

  @media (max-width: 991px) {
    font-size: 16px;
  }
}

.underline {
  text-decoration: underline;
}

@-webkit-keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  &.text--white {
    color: #fff;
  }

  span {
    display: block;
  }

  &>p {
    margin-bottom: 30px;

    a {
      display: inline;
      border-bottom: 1px solid #000;
    }

    &.mb-6 {
      margin-bottom: 60px;

      @media(max-width: 575px) {
        margin-bottom: 30px;
      }
    }
  }

  &>ul {
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;
    padding-left: 0;

    &.mb-6 {
      margin-bottom: 60px;
    }

    li {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      column-gap: 10px;

      &::before {
        content: '';
        width: 30px;
        height: 1px;
        border-radius: 4px;
        background-color: #fff;
        flex-shrink: 0;

        @media(max-width: 575px) {
          width: 20px;
        }
      }
    }

    &.list-disc-black {
      li {
        &::before {
          background-color: #39302C;
        }
      }
    }

  }

  &>a {
    display: inline;
    border-bottom: 1px solid #000;
  }

  &.content--uppercase {
    text-transform: uppercase;
  }
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.mt-10 {
  margin-top: 100px;

  &.mt-sm-0 {
    @media(max-width: 575px) {
      margin-top: 0;
    }
  }
}

.mb-6 {
  margin-bottom: 60px;
}

.mt-6 {
  margin-top: 60px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;

  @media(max-width: 991px) {
    margin-bottom: 30px;
  }
}

.py--lg {
  padding-top: 130px;
  padding-bottom: 130px;

  @media(max-width: 991px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.navArrow {
  &.swiper-button-disabled {
    pointer-events: none;
    opacity: .4;

    @media(max-width: 991px) {
      pointer-events: all;
    }
  }
}

.swiper-pagination-bullet {
  background-color: #fff;
  width: 60px;
  border-radius: 4px;
  height: 3px;
  transition: opacity .2s linear;

  @media(max-width: 767px) {
    width: 30px;
  }

  &:hover {
    opacity: 1;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 7px;
  padding-right: 7px;
}

.contentBlock {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 21px;

  &:not(:last-child) {
    @media(max-width: 1199px) {
      margin-bottom: 50px;
    }
  }

  .contentImg {
    grid-column: 7 span;

    @media(max-width: 767px) {
      grid-column: 16 span;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      box-shadow: 0px 2px 7px 0px rgba(144, 144, 144, 0.25);

      @media(max-width: 575px) {
        width: 300px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .content {
    grid-column: 8 span;
    font-size: 18px;
    color: #000;

    @media(max-width: 767px) {
      display: none;
    }
  }

  .contentImgTitle {
    margin-top: 15px;
    font-family: var(--font-family-second);
    text-transform: uppercase;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .contentImgDescr {
    display: none;

    @media(max-width: 767px) {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      color: rgba(57, 48, 44, 0.60);
      font-size: 16px;
      line-height: normal;
      text-transform: uppercase;
    }
  }

}

.navPage {
  width: 30px;
  height: 28px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &:hover {
    opacity: .5;
  }

  &Prev {
    background-image: url('@img/icons/page-prev.svg');
  }

  &Next {
    background-image: url('@img/icons/page-next.svg');
  }
}

.title-lg {
  @media(max-width: 1199px) {
    display: none;
  }
}

.d-sm-none {
  @media(max-width: 575px) {
    display: none;
  }
}

.text-lg-center {
  @media(max-width: 991px) {
    text-align: center;
  }
}
.container-sm-px-0 {
  @media(max-width: 575px){
    padding-left: 0;
    padding-right: 0;
  }
}